.jumpu-avatar {
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: calc(infinity * 1px);
  width: --spacing(16);
  height: --spacing(16);
  img {
    width: 100%;
    height: 100%;
  }
  &:is(a) {
    display: block;
  }
}
