.jumpu-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-block: --spacing(1);
  padding-inline: --spacing(3);
  font-size: var(--text-sm);
  font-weight: bold;
  text-decoration-line: none;
  border-radius: calc(infinity * 1px);
}
