.jumpu-boxed-tabs {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  [role="tablist"] {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
    gap: --spacing(2);
    border-bottom-width: 1px;
  }
  [role="tab"] {
    margin-bottom: -1px;
    border-width: 1px;
    border-color: transparent;
    border-start-start-radius: var(--radius-md);
    border-start-end-radius: var(--radius-md);
    padding-block: calc(var(--spacing-relative) * 1.5);
    padding-inline: calc(var(--spacing-relative) * 5);
    &[aria-selected="true"] {
      border-color: var(--color-gray-300);
      background-color: var(--color-white);
      border-bottom-color: transparent;
      position: relative;
      padding-block-start: calc(var(--spacing-relative) * 2);
      padding-block-end: calc(var(--spacing-relative) * 1.5);
    }
  }
}
