.jumpu-boxed-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  [role="tablist"] {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    gap: --spacing(2);
    align-items: center;
    border-color: var(--color-gray-300);
    border-bottom-width: 1px;
  }
  [role="tab"] {
    padding-block: calc(var(--spacing-relative) * 1.5);
    padding-inline: calc(var(--spacing-relative) * 5);
    margin-bottom: -1px;
    border-color: transparent;
    border-width: 1px;
    border-start-start-radius: var(--radius-md);
    border-start-end-radius: var(--radius-md);
    &[aria-selected="true"] {
      position: relative;
      padding-block-start: calc(var(--spacing-relative) * 2);
      padding-block-end: calc(var(--spacing-relative) * 1.5);
      background-color: var(--color-white);
      border-color: var(--color-gray-300);
      border-bottom-color: transparent;
    }
  }
}
