.jumpu-button {
  display: inline-flex;
  column-gap: calc(var(--spacing-relative) * 2);
  align-items: center;
  padding-block: calc(var(--spacing-relative) * 2.5);
  padding-inline: calc(var(--spacing-relative) * 5);
  color: var(--color-white);
  text-decoration-line: none;
  appearance: none;
  background-color: var(--color-primary-700);
  border-radius: var(--radius-md);
  transition-timing-function: cubic-bezier(0, 0, 0.12, 1);
  transition-duration: 30ms;
  transition-property: filter;
  &:hover {
    filter: brightness(90%);
  }
  &:active {
    filter: brightness(75%);
  }
  &[role="button"] {
    cursor: default;
  }
  &[disabled] {
    color: var(--color-white);
    background-color: var(--color-gray-300);
    border-color: var(--color-gray-300);
    &:hover {
      box-shadow: none;
      filter: none;
    }
  }
}
