.jumpu-icon-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: --spacing(8);
  height: --spacing(8);
  color: var(--color-gray-600);
  border-radius: var(--radius-md);
  [role="tooltip"] {
    position: absolute;
    top: 0;
    left: 50%;
    display: inline-flex;
    padding-block: --spacing(1);
    padding-inline: --spacing(2);
    font-size: var(--text-xs);
    line-height: var(--leading-tight);
    color: var(--color-white);
    white-space: nowrap;
    background-color: var(--color-gray-500);
    border-radius: var(--radius-sm);
    opacity: 0;
    transform: translate(-50%, -110%) scale(0);
    transition-duration: 100ms;
    transition-property: transform;
  }
  &:hover {
    color: var(--color-gray-800);
    background-color: var(--color-gray-50);
    [role="tooltip"] {
      opacity: 1;
      transform: translate(-50%, -110%) scale(1);
    }
  }
  &:active {
    background-color: var(--color-gray-200);
  }
}
