.jumpu-outlined-button {
  appearance: none;
  border-radius: var(--radius-md);
  display: inline-block;
  padding-block: calc(var(--spacing-relative) * 2.5);
  padding-inline: calc(var(--spacing-relative) * 5);
  text-decoration: none;
  background-color: transparent;
  color: var(--color-primary-700);
  border-color: var(--color-primary-700);
  border-width: 1px;
  &:hover {
    background: var(--color-primary-100);
    filter: brightness(120%);
    --tw-ring-shadow: 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color, transparent);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  &:active {
    filter: brightness(110%);
  }
  &[role="button"] {
    cursor: default;
  }
  &[disabled] {
    color: var(--color-white);
    background-color: var(--color-gray-300);
    border-color: var(--color-gray-300);
    &:hover {
      filter: none;
      box-shadow: none;
    }
  }
}
