.jumpu-spinner {
  width: --spacing(12);
  height: --spacing(12);
  text-align: center;
  svg {
    width: 100%;
    height: 100%;
    stroke: currentcolor;
    animation-name: spinner-rotate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  circle {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 0;
    animation-name: spinner-dash;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}

@keyframes spinner-rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40px;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120px;
  }
}
