.jumpu-spinner {
  text-align: center;
  width: --spacing(12);
  height: --spacing(12);
  svg {
    height: 100%;
    width: 100%;
    animation: spinner-rotate 2s linear infinite;
    stroke: currentcolor;
  }
  circle {
    animation: spinner-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke-linecap: round;
    fill: none;
  }
}

@keyframes spinner-rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40px;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120px;
  }
}
