.jumpu-tabs {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  [role="tablist"] {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
    gap: --spacing(2);
    border-bottom-width: 1px;
  }
  [role="tab"] {
    border-bottom-width: 1px;
    margin-block-end: -1px;
    padding-block: calc(var(--spacing-relative) * 2.5);
    padding-inline: calc(var(--spacing-relative) * 3.5);
    &:hover {
      border-bottom-width: 1px;
      border-color: var(--color-gray-400);
    }
    &[aria-selected="true"] {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: var(--color-primary-700);
      color: var(--color-primary-700);
      cursor: pointer;
      &:hover {
        border-bottom-color: var(--color-primary-800);
      }
    }
    &:active {
      background-color: var(--color-gray-50);
    }
  }
}
