.jumpu-toggle-switch {
  position: relative;
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  label {
    width: 100%;
    height: 100%;
    background-color: var(--color-gray-300);
    position: relative;
    display: inline-block;
    border-radius: calc(infinity * 1px);
    transition: 100ms;
    box-sizing: border-box;
    span {
      position: absolute;
      border-radius: calc(infinity * 1px);
      left: 0;
      top: 0;
      z-index: 2;
      background-color: var(--color-white);
      box-shadow: 0 0 5px rgb(0 0 0 / 20%);
      transition: 100ms;
    }
  }
  input:checked + label {
    background-color: var(--color-primary-700);
    span {
      transform: translateX(100%);
    }
  }
}
