.jumpu-toggle-switch {
  position: relative;
  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  label {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: var(--color-gray-300);
    border-radius: calc(infinity * 1px);
    transition-duration: 100ms;
    transition-property: background-color;
    span {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      background-color: var(--color-white);
      border-radius: calc(infinity * 1px);
      box-shadow: 0 0 5px rgb(0 0 0 / 20%);
      transition-duration: 100ms;
      transition-property: transform;
    }
  }
  input:checked + label {
    background-color: var(--color-primary-700);
    span {
      transform: translateX(100%);
    }
  }
}
